.cartItem{
    margin: 100px 170px ;
    /* background-color: red; */
}

.cartItem hr{
    height: 3px;
    border: none;
    background-color: black;
}

.cartItem-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartItem-format{
    font-size: 16px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 62px;

}

.carticon-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartItem-Quantity{
    width: fit-content;
    padding: 10px 15px;
    border: 2px solid #ebebeb;
    background-color: #fff;
    border-radius: 2px;
}

.cartitems-down{
    display: flex;
    /* margin-top: 100px; */
    margin-top: 100px;
    /* background-color: red; */
    justify-content: space-between;
}

.cartitems-total{
    margin-top: 100px;
    
}

.total{
    font-weight: 600;
}

.cartitems-total-item{
    display: flex;
    align-items: center;
    /* background-color: #454545; */
    justify-content: space-between;
    width: 600px;
    height: 50px;
    /* margin-top: 100px; */
    
}

.cartitems-total-item{
    font-weight: 600;
}


.proceed{
    margin-top: 50px;
    padding: 15px 25px;
    background-color: red;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.cartitems-promocode{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.cartitems-promocode p{
    color: grey;
    font: 18px;
}

.cartitems-promobox{
    display: flex;
    align-items: center;
    height: 58px;
    padding-left: 20px ;
    width: 400px;
    background-color: #eaeaea;
    justify-content: space-between;
}

.cartitems-promobox button{
    padding: 0px 25px;
    height: 46px;
    background-color: #323232;
    color: white;
    font-size: 18px;
    height: 58px;
    cursor: pointer;
}

.cartitems-promobox input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}