*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    background-color: rgba(217, 228, 228, 0.422);
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(50%);
}

.navlogo{
    display: flex;
    align-items: center;
    gap: 10px;

}

.container .navlogo img{
    height: 50px;
    width: 50px;
}

.container .navlogo p{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.navmenu{
    display: flex;
    align-items: center;
    gap: 50px;
}

.navmenu a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.navmenu a hr{
    width: 90%;
    border-radius: 20px;
    border: 2px solid red;
}


.nav_login_cart{
    display: flex;
    align-items: center;
    gap: 30px;

}

.nav_login_cart button{
    padding: 10px 40px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}